/* CSS Document */

/* Index Main Masthead
-------------------------------------------------------------- */

.VideoFeatureBox { position:relative;	width: 938px;	height: 348px;	margin: 0 auto;	padding: 0;	background:#ebebeb; clear: both; border:1px solid #fff;  -moz-border-radius:5px; -webkit-border-radius: 5px; overflow:hidden;}
.VideoFeatureBox h2{ position:absolute; top:10px; left:10px; z-index:1; color:#1c1c1c !important; margin:0; font-size:28px;}

#jFlowSlide{ float: left;}

.controlswrap{margin:0 0 4px 5px; overflow:hidden;}
.controllers{float:left; margin:7px 0;}
.controllers span{	text-indent:-10000px; background:#ebebeb; border:1px solid #ccc; cursor:pointer;	height:8px;	width:8px;	display:block;	float:left;	margin:0 4px 0 0; -moz-border-radius:25px; -webkit-border-radius: 25px;}
.controllers span:hover{ background:#ccc; border-color:#999;}
.controllers span.jFlowSelected {background:#1c1c1c; border-color:#666;}

.jFlowPrev{	float: left;	width: 24px;	height: 24px;	margin: 0 5px 0 0;	text-indent:-10000px;	cursor:pointer;	background: transparent url('../images/prev.png') -5px -5px no-repeat;}
.jFlowPrev:hover{background-position:-5px -39px;}

.jFlowNext{	float: left;	width: 24px;	height: 24px;	margin: 0 0 0 5px;	text-indent:-10000px;	cursor:pointer;	background: transparent url('../images/next.png') -5px -5px no-repeat;}
.jFlowNext:hover{background-position:-5px -39px;}

.wpvfb_slides{overflow:hidden;}
.featbox_lft{	float:left;	margin:	45px 0 0 30px;	width:300px;	height:255px;}
.featbox_lft h3 a{	color:#158BB7 !important;	text-decoration: none;	}
.featbox_lft h3 a:hover{	color:#484848;	text-decoration: none;}
.featbox_lft h3{	color:#B71517;	}
.featbox_lft p{	font-size: 1.2em;	line-height: 1;	margin-bottom: .15em; color:#000; 	}

.featbox_rgt{ position:relative; float:right;	margin:52px 30px 0 0;	padding: 11px 0 0 42px;	width:458px;	height:237px;	background:transparent url('../images/frame.png') top left no-repeat;	}
.featbox_rgt img{	width: 413px;	height: 212px;	border: none;	}
/*.featbox_rgt em{position:absolute; right:50px; bottom:30px; width:16px;height:16px;background:transparent url('../images/play.gif') 0px 0px no-repeat;}*/
.featbox_rgt em{position:absolute; right:55px; bottom:35px; width:34px;height:34px;background:transparent url('../images/next.png') 0px -34px no-repeat; display:block;}

